<nav>
  <h3>Flatten the Curve</h3>
  <h2>South Africa</h2>
  <ul>
    <li>
      <a (click)="toggleNav()" routerLink="dashboard">Statistics</a>
    </li>
    <li>
      <a (click)="toggleNav()" routerLink="maps">Maps</a>
    </li>
    <li>
      <a (click)="toggleNav()" routerLink="resources">Coronavirus Info</a>
    </li>
    <li>
      <a (click)="toggleNav()" routerLink="testing">Testing Centres</a>
    </li>
    <li>
      <a (click)="toggleNav()" routerLink="news">"Good news" stories</a>
    </li>
  </ul>
</nav>
<aside>
  <small>For Covid19 Info call:</small>
  <h3>0800 029 999</h3>
</aside>
