<h1>Testing Centres</h1>
<h2>South Africa</h2>

<p>
  The following list of testing centres were found in
  <a href="https://www.iol.co.za/news/south-africa/western-cape/coronavirus-places-to-get-tested-in-sa-45030817" target="_blank"
    >this article</a
  >. If anyone is aware of a better list or if the NICD would like me to update this list from an official directory, please feel free to
  <a appFeedbackForm subject="Testing Centre Listing">send me a message</a>.
</p>

<br />

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Gauteng
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Alberton IPS, 68 Voortrekker, Rd, New Redruth, Alberton, 1449</li>
      <li>Netcare, Room 206 Mulbarton Medical Centre, 27 True N Rd, (Hospital), JHB, 2190</li>
      <li>46 Rhodes Ave, Vereeniging, 1939</li>
      <li>Lenmed in hospital, Lenasia South</li>
      <li>Daxina Medical Centre</li>
      <li>Krugersdorp Lab, Outpatient Depot, 1 Boshoff Street, Krugersdorp, 1739</li>
      <li>Birchleigh depot, 7 Leo Street</li>
      <li>Kempton square shopping centre, shop 61</li>
      <li>Leicester depot, suite no 8 Leicester Medical Mews, 7 Leicester Road, Bedfordview Germiston</li>
      <li>Houghton Hotel Depot, 53 2nd Ave, Houghton Estate, Johannesburg, 2198, South Africa</li>
      <li>62 Orchard Rd, Cheltondale, Johannesburg, 2192, South Africa</li>
      <li>Lancet Corner, Corner Stanley and Menton Rd, Richmond Auckland Park</li>
      <li>Rosebank Lab, 3rd Floor, 8 Sturdee Avenue, Rosebank</li>
      <li>173 Rivonia Road, Morningside, Sandton, South Africa Rochester Place Office Block A</li>
      <li>8 Parks Street, Bedfordview, Germiston</li>
      <li>Free State and Northern Cape</li>
      <li>Room G07, Mediclinic Bloemfontein, Kellner St, Westdene, Bloemfontein, 9301</li>
      <li>112 Mac Dougall St, El Toro Park, Kimberley, 8301</li>
      <li>RH Matjhabeng, Power Road, Reitzpark, Welkom</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Western Cape
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ul>
      <li>2 Heide Street, Bloemhof, Cape Town, South Africa</li>
      <li>Brackenfell Medical Centre, Cnr Brackenfell & Old Paarl Road , Cape Town, South Africa</li>
      <li>Cnr Longmarket & Parliament Street, Cape Town, South Africa</li>
      <li>Smartsurv House, Century City, Cape Town, 7441</li>
      <li>15 Paul Kruger Street, Durbanville, Cape Town, South Africa</li>
      <li>Shop 9 De Kuilen Shopping Centre Carinus Street</li>
      <li>7c Solway Street, Bellville West A, Cape Town, South Africa</li>
      <li>91 Jan Smuts Dr, Pinelands, Cape Town, 7405, South Africa</li>
      <li>Rondebosch Medical Center, 95 Klipfontein Rd, Rondebosch, Cape Town, 7700, South Africa</li>
      <li>1st Floor, Room 4 Harbour Bay Medical Centre</li>
      <li>Trumali House, Trumali Street, Harringtons Place, Stellenbosch, South Africa</li>
      <li>Arun Place Block 6 Unit F, Cherrywood Gardens, Sir Lowry's Pass, South Africa</li>
      <li>Stellenbosch Oewerpark Suite 12A Rokewood Road, Die Boord, Stellenbosch, South Africa</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Kwa-Zulu Natal</mat-panel-title>
    </mat-expansion-panel-header>

    <ul>
      <li>Lenmed La Verna Private Hospital 1 Convent Rd, Ladysmith, 3370</li>
      <li>Mediclinic Newcastle Private Hospital 78 Bird St, Newcastle Central, Newcastle, 2940</li>
      <li>Life Empangeni Garden Clinic 50 Biyela St, Empangeni Central, Empangeni, 3880</li>
      <li>Busamed Gateway private Hospital, 36-38 Aurora Dr, Umhlanga Rocks, Umhlanga, 4319</li>
      <li>Berea 1st Floor, Mayet Medical Centre, 482 Randles Rd, Sydenham, Berea, 4091</li>
      <li>Ahmed Al-Khadi Private Hospital 490 Jan Smuts Hwy, Mayville, Durban, 4058</li>
      <li>Life Chatsmed Private Hospital Suite 121- 201 West Wing Chatsmed Garden Hospital, 80 Woodhurst Dr, Chatsworth, 4092</li>
      <li>
        JMH Isipingo private hospital Suite 2 Grnd flr Medical Towers Isipingo Hospital, 162 Phila Ndwandwe Rd, Isipingo Rail, Isipingo,
        4133
      </li>
      <li>28 Bazley St, Port Shepstone, 4240</li>
      <li>Suite 205 Midlands Medical Centre, 162-166 Masukwana St, Pietermaritzburg, 3201</li>
      <li>Hilton Gardens, Hilton, 3245</li>
      <li>Life Mt Edgecombe Private Hospital Ste 1 Phoenix Medical Ctr, Redberry Rd, Rockford, Phoenix, 4068</li>
      <li>Life Entabeni Private Hospital Suite 8 Level 3 West Wing Entabeni Hospital, 148 Mazisi Kunene Rd, Berea, 4001</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Limpopo</mat-panel-title>
    </mat-expansion-panel-header>

    <ul>
      <li>44A Grobler street, Polokwane Central</li>
      <li>71 Wolksberg Road, Ivory Tusk Lodge, Tzaneen</li>
      <li>Corner Mpehephu & Mvusuludzo near Cash build, Thouyandou</li>
      <li>Clinix Private Hospital, No 86 Grosvenor Street, Phalaborwa</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Rustenburg</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>1 Kok Street, Rustenburg</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>North West</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Cachet Park Depot, Shop 24 Cnr Steve Biko & Meyer Street, Potchefstroom, 2531</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
