<h1>Good News</h1>
<h2>... from around the web</h2>

<p>
  It's difficult to imagine the words "good news" and coronavirus in the same sentence, but with all the uncertainty and concern out there
  it's important to keep track of the positive or success stories around the disease and in the world in general.
</p>

<p>Some of the links below include blog posts, from various sources, that in turn include multiple good news stories or links.</p>

<section>
  <a *ngFor="let story of storie$ | async" [href]="story.link" target="_blank">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ story.title }}</mat-card-title>
        <mat-card-subtitle>{{ story.date_published | date }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="story.img_url" [alt]="story.img_alt" />
      <mat-card-content>
        <p>
          {{ story.description }}
        </p>
      </mat-card-content>
    </mat-card>
  </a>
</section>
