<h1>News</h1>
<h2>"Good News" stories</h2>

<section>
  <a *ngFor="let story of storie$ | async" [href]="story.link" target="_blank">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ story.title }}</mat-card-title>
        <mat-card-subtitle>{{ story.date_published | date }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="story.img_url" [alt]="story.img_alt" />
      <mat-card-content>
        <p>
          {{ story.description }}
        </p>
      </mat-card-content>
    </mat-card>
  </a>
</section>
