<h1>Resources</h1>
<h2>Coronavirus Information</h2>

<section>
  <a *ngFor="let resource of resource$ | async" [href]="resource.link" target="_blank">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ resource.title }}</mat-card-title>
        <mat-card-subtitle>{{ resource.publisher }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="resource.img_url" [alt]="resource.img_alt" />
      <mat-card-content>
        <p>
          {{ resource.description }}
        </p>
      </mat-card-content>
    </mat-card>
  </a>
</section>
