<h1>Resources</h1>
<h2>Coronavirus Information</h2>

<section>
  <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Protect yourself</mat-card-title>
        <mat-card-subtitle>World Health Organisation</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://www.who.int/images/default-source/health-topics/coronavirus/gettyimages-943428252.tmb-549v.jpg"
        alt="Pedestrians on their way to work"
      />
      <mat-card-content>
        <p>
          Basic protective measures against the new coronavirus
        </p>
      </mat-card-content>
    </mat-card>
  </a>

  <a href="https://www.who.int/news-room/q-a-detail/q-a-on-covid-19-pregnancy-childbirth-and-breastfeeding" target="_blank">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Pregnancy</mat-card-title>
        <mat-card-subtitle>World Health Organisation</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://www.who.int/images/default-source/imported/breastfeeding-sierra-leone.tmb-768v.jpg"
        alt="Photo of a mother breastfeeding"
      />
      <mat-card-content>
        <p>
          Q&A on COVID-19, pregnancy, childbirth and breastfeeding
        </p>
      </mat-card-content>
    </mat-card>
  </a>
</section>
