section {
  width: 50%;
  margin: 0 auto;
}

.mat-card {
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
  text-align: center;
  p {
    text-align: center;
    font-size: 0.85rem;
  }
  @media screen and (min-width: 769px) {
    width: 50%;
  }
}

.align-right {
  text-align: right;
}
mat-label,
.mat-select {
  font-size: 0.85rem;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 769px) {
    flex-wrap: nowrap;
  }
  .mat-card {
    @media screen and (min-width: 769px) {
      width: calc(50% - 15px);
      &:first-child {
        margin-right: 30px;
      }
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}
