<h1>COVID-19 Statistics</h1>
<h2>South Africa</h2>

<div id="summary" class="card-row">
  <app-statistic-card
    [card]="statusCard"
    description="A breakdown of national Covid-19 cases"
    [record]="record"
    title="National Case Status"
  >
  </app-statistic-card>
  <app-statistic-card [card]="testCard" description="A breakdown of national Covid-19 testing" [record]="record" title="National Testing">
  </app-statistic-card>
</div>

<div class="card-row">
  <app-line-chart
    title="National Cases History"
    description="The history of total confirmed-, recovered- and active cases and fatalities"
    [records]="records"
    [chart]="historyChart"
  ></app-line-chart>
  <app-line-chart
    title="National Confirmed Cases vs. Tests"
    description="Confirmed cases in comparison to amount of tests conducted"
    [records]="records"
    [chart]="confirmedVsTestsChartChart"
  ></app-line-chart>
</div>

<div class="card-row">
  <app-line-chart
    title="National Exponential Projection"
    description="Projecting a week ahead in comparison to actual amount of confirmed cases"
    [records]="records"
    [chart]="confirmedExponentialProjectionChart"
    info="This projection is refreshed each day when new stats are released. Data set used is from day 1 -to- last date of entry minus 13 days."
  ></app-line-chart>
  <app-line-chart
    title="National Relative Daily New Cases"
    description="Day-to-day relative increase of confirmed cases"
    [records]="records"
    [chart]="relativeDailyNewChart"
    [options]="relativeDailyNewChartOptions"
  ></app-line-chart>
</div>
