<h1>COVID-19 Statistics</h1>
<h2>South Africa</h2>

<div id="summary" class="card-row">
  <mat-card class="stat-card">
    <h3>National Case Status</h3>
    <p>A breakdown of national Covid-19 cases</p>
    <div>
      <dl>
        <dt>Confirmed</dt>
        <dd>{{ result.confirmed }}</dd>
        <dt>Active</dt>
        <dd>{{ result.confirmed - result.recovered - result.deaths }}</dd>
      </dl>
      <dl>
        <dt>Fatalities</dt>
        <dd>{{ result.deaths }}</dd>
        <dt>Recovered</dt>
        <dd>{{ result.recovered }}</dd>
      </dl>
    </div>
  </mat-card>
  <mat-card class="stat-card">
    <h3>National Testing</h3>
    <p>A breakdown of national Covid-19 testing</p>
    <app-test-stat
      [conducted]="result.testsConducted"
      [confirmed]="result.confirmed"
      [population]="population"
      [recovered]="result.recovered"
    ></app-test-stat>
  </mat-card>
</div>

<div class="card-row">
  <mat-card>
    <h3>National Cases History</h3>
    <p>The history of total confirmed-, recoved- and active cases and fatalities</p>
    <canvas
      baseChart
      [datasets]="nationalSummaryChartData"
      [labels]="historyLabels"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
    ></canvas>
  </mat-card>
  <mat-card>
    <h3>National Confirmed Cases vs. Tests</h3>
    <p>This view compares confirmed cases against tests conducted</p>
    <canvas
      baseChart
      [datasets]="nationalSummaryChartWithTestsData"
      [labels]="historyLabels"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
    ></canvas>
  </mat-card>
</div>

<div class="card-row">
  <mat-card>
    <h3>
      National Exponential Projection
      <mat-icon
        *ngIf="!showControls"
        matTooltip="This projection set was calculated with the first 5 days worth of data and projects 5 days ahead"
        >info</mat-icon
      >
    </h3>
    <p>This view compares a 5 day projection with confirmed cases</p>

    <div *ngIf="showControls" class="flex">
      <div>
        <mat-form-field>
          <mat-label>Days to project ahead &nbsp;</mat-label>
          <input
            matInput
            type="number"
            min="1"
            max="30"
            [(ngModel)]="projectAhead"
            (keyup)="calculateExponentialChart()"
            (change)="calculateExponentialChart()"
          />
        </mat-form-field>
      </div>
      <div class="align-right">
        <mat-label>Calculate projection on &nbsp;</mat-label>
        <mat-select [(ngModel)]="calculateDay" (selectionChange)="calculateExponentialChart()">
          <ng-container *ngFor="let option of results; let i = index">
            <mat-option *ngIf="i > 0" [value]="i">Day {{ i + 1 }}</mat-option>
          </ng-container>
        </mat-select>
      </div>
    </div>
    <canvas
      baseChart
      [datasets]="nationalSummaryChartWithExponential"
      [labels]="projectedHistoryLabels"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
    ></canvas>
  </mat-card>
  <mat-card>
    <h3>National Relative Daily New Cases</h3>
    <p>Day-to-day relative increase of confirmed cases</p>
    <canvas
      baseChart
      [datasets]="nationalGrowthChartData"
      [labels]="historyLabels"
      [options]="lineChartOptionsPercentage"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
    ></canvas>
  </mat-card>
</div>
