/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

p {
  line-height: 1.5em;
}

a {
  color: #3f51b5;
}

.stat-card {
  div {
    display: flex;
  }
  dl {
    flex-grow: 1;
    dd {
      font-size: 2.4rem;
      margin: 0px 0 15px;
    }
    dd,
    dt {
      text-align: center;
    }
  }
}
