nav {
  width: 100vw;
  margin: 20vh 30px;
  @media screen and (min-width: 769px) {
    max-width: 162px;
  }
}

ul {
  margin-top: 3.5vh;
  padding-left: 0;
  list-style: none;
  li {
    a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      margin-left: -5px;
      padding: 1.5vh 5px;
    }
  }
}

aside {
  margin: 0 30px;
  h3 {
    margin-top: 5px;
  }
}
