<h1>About</h1>

<h2>Motivation for- and state of this website</h2>

<p>
  A collection of "frequently" updated Coronavirus statistics, maps and articles to keep you informed on the local status of the Coronavirus
  spread. This project started out as an informal playground for <a href="https://theuniscilliers.com">me</a> to draw graphs in so that I
  may better understand the spread of the Coronavirus pandemic we are facing. I published it online realising it might be worthwhile for
  others to visit/use as well.
</p>

<p>
  There is no funding for this project and is maintained/improved in my spare time. I am not offering this as a service to anyone and I do
  not purport to have more up-to-to-date or more accurate information than any other statistical websites of this kind. It is very much a
  "work-in-progress" and might contain erroneous data.
</p>

<p>No cookies or personal information of visitors are stored or used in any way.</p>
