<h1>About</h1>

<h2>The story of a "novel" virus</h2>

<h3>Origin</h3>

<p>
  At the end of 2019 a virus very hard to contain, spread from a Chinese city called Wuhan to, at the time of writing,
  {{ infectedCountries }} other countries, including South Africa. Even though it forms part of a family of viruses called Coronaviruses, it
  is currently often referred to as the Coronavirus. It has resulted in many deaths around the world and like other countries, we've had to
  take extreme measures to prevent it from spreading further.
</p>

<p>
  On the 11th of March 2020 the
  <a
    target="_blank"
    href="http://www.euro.who.int/en/health-topics/health-emergencies/coronavirus-covid-19/news/news/2020/3/who-announces-covid-19-outbreak-a-pandemic"
    >World Health Organisation declared the virus responsible for Covid-19 a pandemic.</a
  >
  On the 27th of March South Africa went into lockdown - prohibiting citiziens, not providing essential services, from leaving their homes.
  Some countries in which the virus spread uncontrollably, before sufficient safety measures were put in place were
  {{ countries.join(', ') }} and China.
</p>

<h3>This website</h3>
<p>
  This website consists of a collection of "frequently" updated Coronavirus statistics, maps and articles to keep you informed on the local
  status of the Coronavirus spread. It started out as an informal playground for monitoring charts to better understand the spread of the
  virus. I published it online after realising it might be worthwhile for others to visit and use as well.
</p>

<p>
  There is no funding for this project and it is maintained/improved in my spare time. I am not offering this as a service to anyone and I
  do not purport to have more up-to-to-date or more accurate information than any other statistical websites of this kind. It is very much a
  "work-in-progress" and might contain erroneous data.
</p>

<p>No cookies or personal information of visitors are stored or used in any way.</p>

<p>
  Feel free to <a appFeedbackForm>contact me</a> if you have any feedback or would like to be involved with improvements to this website.
</p>
